<h1><%= Answer.model_name.plural %></h1>
<%= link_to t('.add_answer'), new_answer_path %>
<%= link_to t('back'), user_root_path %>
<table>
  <thead>
    <th><%= Question.model_name.singular %></th>
    <th><%= t('answers.answers.agree') %></th>
    <th><%= t('answers.answers.neutral') %></th>
    <th><%= t('answers.answers.disagree') %></th>
    <th><%= Answer.human_attribute_name(:reasoning) %></th>
  </thead>
  <% Party.all.each do |party| %>
    <tr><td colspan="5" class="party-name"><%= party.name %></th></tr>
    <%= @questions.each do |question| %>
      <tr>
        <td><%= question.short %></td>
        <td><%= radio_button_tag :agree, false %></td>
        <td><%= radio_button_tag :neutral, false %></td>
        <td><%= radio_button_tag :disagree, false %></td>
        <td><%= answer_reasoning_modal_link(party, question) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
