<h1><%= Answer.model_name.plural %></h1>
<%= link_to t('.add_answer'), new_answer_path %>
<table>
  <% @answers.each do |answer| %>
    <tr>
      <td><%= answer.answer %></td>
      <td>
        <%= link_to t('edit'), edit_answer_path(answer) %>
        <%= link_to t('destroy'), answer_path(answer), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
